/* NAVBAR */
.navbar-inverse {
    font-family:Tahoma;
    position: relative;
    background-color: #303030;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    text-indent: -10px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.navbar .navbar-collapse {
    text-align: left;
}

/* BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 135px;
    padding-top: 5px;
}
img {
    height: 130px;
}

/* MAIN BODY */
.mainbody {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(109,116,17,1) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.pageid {
    display: flex;
    font-family: Tahoma;
    font-size: 34px;
    font-weight: bold;
}
.container {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.content {
    background-color: rgb(233, 233, 233);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 100%;
    border-radius: 5px;
    padding: 20px 45px;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: Tahoma;
    padding-bottom: 8px;
}
p {
    font-family: Calibri;
    font-size: 18px;
}

/* FOOTER */
.footer {
    color: azure;
    background-color: #303030;
    height: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    font-size: 13px;
    font-family:Tahoma;
}
a:hover {
    text-decoration: none;
    color: #aabeff
}

/* MOBILE VIEW */
@media screen and (max-device-width: 425px) {
    /* MOBILE NAV */
    .navbar-inverse {
        position: relative;
        background-color: #303030;
        font-size: 32px;
        padding: 25px 18px;
        font-family: Tahoma;
        padding-left: 28px;
    }
    .navbar {
        position: absolute;
        margin-bottom: 0;
        border-radius: 0;
        text-indent: -10px;
        text-align: center;
    }
    .navbar ul {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    #nav ul li {
        margin: 0;
        padding: 0;
        float:left;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }
    .navbar .navbar-collapse {
        text-align: left;
    }
    /* MOBILE BODY */
    .mainbody {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(109,116,17,1) 100%);
        position: absolute;
        height: 130%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .pageid {
        display: flex;
        font-family: Tahoma;
        font-size: 56px;
        font-weight: bold;
    }
    .container {
        min-width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .content {
        background-color: rgb(233, 233, 233);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        width: 100%;
        border-radius: 5px;
        padding: 25px 45px;
    }
    h1 {
        font-size: 36px;
        font-weight: bold;
        font-family: Tahoma;
        padding-bottom: 15px;
    }
    p {
        font-family: Calibri;
        font-size: 38px;
    }
    /* MOBILE FOOTER */
    .footer {
        color: azure;
        background-color: #292929;
        height: 4%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        bottom: 0;
        position: fixed;
        font-size: 32px;
        font-family: Tahoma;
    }
  }