/* NAVBAR */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    text-indent: -10px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.navbar .navbar-collapse {
    text-align: left;
}

/* BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 135px;
    padding-bottom: 10px;
}
img {
    z-index: 2;
    height: 130px;
}

/* MAIN BODY */
.mainbody {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

/* FOOTER */
.footer {
    z-index: 2;
    color: azure;
    background-color: #292929;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    font-size: 12px;
    font-family: 'Lucida Sans'
}
a:hover {
    text-decoration: none;
    color: #aabeff
}

/* MOBILE VIEW */
@media screen and (max-device-width: 425px) {
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        text-indent: -10px;
        font-size: 28px;
        padding: 15px 15px;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: middle;
        font-size: 28px;
        padding: 15px 15px;

    }
    .navbar .navbar-collapse {
        text-align: left;
        font-size: 28px;
        padding: 15px 15px;

    }
    .footer {
        z-index: 2;
        color: azure;
        background-color: #292929;
        height: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        bottom: 0;
        position: fixed;
        font-size: 28px;
        font-family: 'Lucida Sans'
    }
  }